.picture {
  width: 200px;
}

.profilePic {
  width: 12em;
  border-radius: 2em;
}

.recruits {
  width: 90%;
  border-collapse: collapse;
}

ul {
  list-style-type: none;
}

ul li {
}

.recruitInfo {
  width: 45%;
}

.recruitInfo ul {
  font-size: 18px;
  font-weight: bold;
  background: gray;
}

.recruitInfo ul li {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.recruit td {
  border-bottom: solid gray 2px;
  padding: 10px 0 10px 0;
}

.name {
  width: 45%;
}

.location {
  width: 45%;
}

.birthday {
  background: green;
  width: 5%;
}