/*all views*/
body {
  margin: 0;
  padding: 0;
}

/*headerView*/
.header {
  background: black;
  height: 60px;
}

.login {
  margin: 0 10px 0 10px;
  float: right;
}

.log {
  margin-top: 12px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}


.logout {
  float: right;
}

/* recruitView */
.picture {
  width: 230px;
}

.picture img {
  width: 12em;
  border-radius: 2em;
}

.recruits {
  width: 90%;
  border-collapse: collapse;
}

ul {
  list-style-type: none;
}

.recruitInfo {
  width: 45%;
  /*background: red;*/
  border-radius: 2em;
  height: 60px;
}

.recruitInfo ul {
  font-size: 18px;
  font-weight: bold;
  /*background: gray;*/
  margin: -80px 0 0 0;
}

.recruitInfo div {
  /*background: green;*/
  margin: 10px 0 0 15px;
}

.recruitInfo ul li {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.recruit td {
  border-bottom: solid gray 2px;
  padding: 10px 0 10px 0;
}

.name {
  width: 45%;
}

.location {
  width: 45%;
}

.birthday {
  width: 5%;
}