/*all views*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-image:url('../images/ticks.png');
}

/*homeView*/
.title {
  font-family: 'Carter One', cursive;
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

.tagline {
  text-align: center;
  margin-top: -35px;
}

.screenShot {
  margin-left: 20px;
  width: 646px;
  border: solid;
  float: left;
}

.features {
  float: right;
  margin: 20px 90px 0 0;
  font-size: 18px;
}

.recruitFeatures {
  margin-top: 10px;
}

.features li {
  margin-top: 4px;
}

.featuresTitle {
  list-style-type: none;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.getStarted {
  text-align: center;
}

.getStartedButton {
  -moz-box-shadow:inset 0 1px 0 0 #f29c93;
  -webkit-box-shadow:inset 0 1px 0 0 #f29c93;
  box-shadow:inset 0 1px 0 0 #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:20px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0 #b23e35;
  margin: 20px 0 0 -40px;
}.getStartedButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}.getStartedButton:active {
  position:relative;
  top:1px;
}


/*headerView*/
.header {
  background: black;
  height: 60px;
  width: 100%;
}

.login {
  margin: 0 10px 0 10px;
  float: right;
}

.log {
  margin-top: 12px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}


.logout {
  float: right;
}

/* recruitView */
.picture {
  width: 230px;
}

.picture img {
  width: 12em;
  border-radius: 2em;
  margin-left: 15px;
}

.recruits {
  width: 90%;
  border-collapse: collapse;
  margin: 0 0 0 70px;
}

.recruitInfo ul {
  list-style-type: none;
}

.recruitInfo {
  width: 80%;
  border-radius: 2em;
  height: 60px;
}

.recruitInfo ul {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 0;
}

.recruitInfo div {
  margin: 20px 0 0 15px;
}

.recruitInfo ul li {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.recruit td {
  border-bottom: solid gray 2px;
  padding: 10px 0 10px 0;
  margin: 0 0 0 100px;
}

.name, .location, .birthday, .voteCount {
  font-family: 'Permanent Marker', cursive;
}

.name {
  width: 30%;
}

.location {
  width: 30%;
}

.birthday {
  width: 5%;
}

/*recruithomeView*/
.memberKeyInfo {
  text-align: center;
  margin-top: 40px;
}

.memberKey, .memberKeyForm {
  display: inline;
}

.memberKeyInput {
  border-radius: .8em;
}

.recruitInstructions {
  text-align: center;
  margin: 50px 0 0 25%;
  border-radius: .8em;
  background-color: #CCCACB;
  width: 50%;
}

.recruitWatch {
  padding-top: 10px;
}

.partyYouTube {
  text-align: center;
  padding-bottom: 20px;
}