<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <!-- // <script src='/appModel.js'></script> -->
    <script type="text/javascript" src='/underscore.js'></script>
    <script src='/jquery.js'></script>
    <script src='/underscore.js'></script>
    <script src='/backbone.js'></script>
    <script src='/appModel.js'></script>
    <script src='/appView.js'></script>
    <script type="text/javascript">
      var app = new App();
      var appView = new AppView({model: app});
    </script>

  </body>
</html>